name: Run tests on scim_v2 crate
on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches: [ main ]
env:
  CARGO_TERM_COLOR: always
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@110f36749599534ca96628b82f52ae67e5d95a3c # v2.0.1
        with:
          rust-version: stable
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Cargo Check
        run: cargo check
      - name: Cargo Test
        run: cargo test
      - name: Cargo format
        run: cargo fmt --check
