name: Run tests on scim_v2 crate
on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches: [ main ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v2
        with:
          rust-version: stable
      - uses: actions/checkout@master
      - name: Cargo Check
        run: cargo check
      - name: Cargo Test
        run: cargo test
      - name: Cargo format
        run: cargo fmt --check
