name: Publish scim_v2 crate to crates.io
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
permissions:
  contents: read
  packages: write
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Install stable toolchain
        uses: hecrj/setup-rust-action@110f36749599534ca96628b82f52ae67e5d95a3c # v2.0.1
        with:
            rust-version: stable
            profile: minimal

      - run: cargo publish --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}