name: Release scim_v2 crate
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
permissions:
  contents: read
jobs:
  release:
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Get version
        id: get_version
        run: echo "crate_version=$(grep '^version = ' Cargo.toml | cut -d'\"' -f2)" >> $GITHUB_ENV
      - name: Create tarball
        run: git archive --format=tar.gz --output=scim_v2_v${{ env.crate_version }}.tar.gz HEAD
      - name: Create zip
        run: git archive --format=zip --output=scim_v2_v${{ env.crate_version }}.zip HEAD
      - name: Create Release and Upload Assets
        id: create_release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.crate_version }}
          draft: false
          prerelease: false
          files: |
            ./scim_v2_v${{ env.crate_version }}.tar.gz
            ./scim_v2_v${{ env.crate_version }}.zip